
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto;
    background-color: #61429d;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    line-height: 100px;
    font-size: 100px;
    text-align: center;
}